.buttons-section {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.main-button {
  margin-right: 10rem;
}

.secondary-button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #2f4b6b;
  color: #6b6b6b;
}

.secondary-button:hover {
  color: #fff;
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-section iframe {
  border-radius: 30px;
}
